@* @model DettagliVerbaleViewModel

<h2>Dettagli Verbali</h2>

<h3>Totale Verbali Raggruppati per Trasgressore</h3>
<table class="table">
    <thead>
        <tr>
            <th>TrasgressoreID</th>
            <th>Totale Verbali</th>
            <th>Totale Punti Decurtati</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VerbaliPerTrasgressore)
        {
            <tr>
                <td>@item.TrasgressoreID</td>
                <td>@item.TotaleVerbali</td>
                <td>@item.TotalePuntiDecurtati</td>
            </tr>
        }
    </tbody>
</table>

<h3>Violazioni con Punti Decurtati Maggiori di 10</h3>
<table class="table">
    <thead>
        <tr>
            <th>Importo</th>
            <th>Descrizione</th>
            <th>Punti Decurtati</th>
            <th>Trasgressore</th>
            <th>Data Violazione</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ViolazioniMaggioreDi10Punti)
        {
            <tr>
                <td>@item.Importo</td>
                <td>@item.Descrizione</td>
                <td>@item.PuntiDecurtati</td>
                <td>@item.TrasgressoreNome @item.TrasgressoreCognome</td>
                <td>@item.DataViolazione</td>
            </tr>
        }
    </tbody>
</table>

<h3>Violazioni con Importo Maggiore di 400 Euro</h3>
<table class="table">
    <thead>
        <tr>
            <th>Importo</th>
            <th>Descrizione</th>
            <th>Punti Decurtati</th>
            <th>Trasgressore</th>
            <th>Data Violazione</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ViolazioniMaggioriDi400Euro)
        {
            <tr>
                <td>@item.Importo</td>
                <td>@item.Descrizione</td>
                <td>@item.PuntiDecurtati</td>
                <td>@item.TrasgressoreNome @item.TrasgressoreCognome</td>
                <td>@item.DataViolazione</td>
            </tr>
        }
    </tbody>
</table> *@
